/* temples-large.css */

/* Header */
#menu-toggle {
    display: none; /* Hide the hamburger button on larger screens */
}

#main-nav {
    display: flex; /* Show nav links in a row */
    justify-content: center;
    gap: 3rem;
}

/* Gallery */
.gallery {
    grid-template-columns: repeat(auto-fit, minmax(201px, 1fr)); /* Multi-column layout */
    max-width: 1201px;
    margin: 1 auto;
}
